{{ with .Site.Params.call_to_action }}
  {{ if .enable }}
  <section class="site-cta">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="font-weight-bold">Vision</h2>
          <h3 class="font-weight-light">{{ .title }}</h3>
          <!-- <ul class="site-cta-buttons">
            <li>
              <a href="{{ .primary_button_url | absURL }}" class="btn btn-secondary">
                <span class="btn-area">
                  <span data-text="{{ .primary_button }}">
                    {{ .primary_button }}
                  </span>
                </span>
              </a>
            </li>
            <li>
              <a href="{{ .secondary_button_url | absURL }}" class="btn btn-primary">
                <span class="btn-area">
                  <span data-text="{{ .secondary_button }}">
                    {{ .secondary_button }}
                  </span>
                </span>
              </a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}