{{ with .Site.Params.banner }} {{ if .enable }} {{
"<!-- Site Hero Start -->" | safeHTML }}
<section
  class="site-hero"
  style="background-image: url('{{ .background_image }}');"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div
          class="site-hero-content text-center"
        >
          <h6 class="text-white">
            {{ .tagline }}
          </h6>
          <h1 class="text-white">
            {{ .heading }}
          </h1>
          <!-- <ul class="site-hero-content-buttons">
              <li>
                <a href="{{ .primary_button_url | absURL }}" class="btn btn-secondary" style="background-color: #9932CC;">
                  <span class="btn-area">
                    <span data-text="{{ .primary_button }}">
                      {{ .primary_button }}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="{{ .secondary_button_url | absURL }}" class="btn btn-primary" style="background-color: #800080;">
                  <span class="btn-area">
                    <span data-text="{{ .secondary_button }}">
                      {{ .secondary_button }}
                    </span>
                  </span>
                </a>
              </li>
            </ul> -->
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-5 mx-auto">
        <div
          class="card bg-dark opacity-25"
          style="
            opacity: 0.9;
            background-image: url('images/logo-footer.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: center;
          "
        >
          <div class="card-body mx-auto">
            <h5
              class="text-center text-white pl-6 p-3"
            >
              Play Our Theme Song
            </h5>
            <audio controls>
              <source
                src="music/theme_songs.mp3"
                type="audio/mpeg"
              />
            </audio>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    href="#counter"
    class="site-hero-scroll scroll-to"
  >
    <img src="{{ "images/arrow-down.svg" | absURL
    }}" alt="arrow-down">
  </a>
</section>
{{ "<!-- Site Hero End -->" | safeHTML }} {{ end
}} {{ end }}
