{{ with .Site.Params.portfolio }} {{ if .enable }}
<section class="site-project" id="project">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{ .title }}</h2>
          <p>{{ .subtitle }}</p>
        </div>
      </div>
      {{ range first 6 (where $.Site.RegularPages
      "Type" "portfolio") }}
      <div class="col-lg-4 col-md-10 mx-auto">
        <div class="site-project-item">
          <div
            class="site-project-item-thumb"
            style="
              height: 350px;
              overflow: hidden;
            "
          >
            <img
              src="{{ .Params.Image | absURL }}"
              alt="project-thumb"
              class="img-fluid"
            />
          </div>
          <div class="site-project-item-content">
            <span
              >{{ delimit .Params.category ", "
              }}</span
            >
            <h4>{{ .Title }}</h4>
            <a
              href="{{ .Permalink }}"
              class="read-more"
              >{{
              .Site.Params.portfolio.view_project
              }}</a
            >
          </div>
        </div>
      </div>
      {{ end }}
      <div
        class="col-12 text-center text-lg-left"
      >
        <a
          href="portfolio"
          class="site-project-cta"
          >{{ .Site.Params.portfolio.more_works
          }}</a
        >
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
