{{ with .Site.Data.team }}
  {{ if .enable }}
  <section class="site-team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>
              {{ .title }}
            </h2>
          </div>
        </div>
        {{ range .members }}
        <div class="col-lg-4 col-md-6">
          <div class="site-team-member">
            <div class="site-team-member-image">
              <img class="img-fluid rounded" src="{{ .image | absURL }}" alt="team-member">
            </div>
            <div class="site-team-member-content">
              <h3>{{ .name }}</h3>
              <p>{{ .designation }}</p>
              <ul class="site-team-member-social">
                <!-- <li><a href="{{ .medium | absURL }}"><i class="fa fa-medium"></i></a></li>
                <li><a href="{{ .linkedin | absURL }}"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="{{ .instagram | absURL }}"><i class="fa fa-instagram"></i></a></li> -->
                <li><a href="{{ .facebook | absURL }}"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6">
            <div class="text-justify">
             <span class="font-weight-light text-dark">Welcome to DonateInFaith, a charitable organization driven by a profound commitment to helping those in need. Founded by Roshan Fernando, whose journey of philanthropy began at the tender age of 13, DonateInFaith is dedicated to making a positive impact on communities both locally and globally.

              Our Story
              The seeds of DonateInFaith were sown in the village of Negombo, Sri Lanka, where Roshan Fernando and his friends took on a contract to water a large coconut plantation. Despite their youth, they worked diligently for nearly two months. During this time, a poor elderly man who worked at a nearby sawmill passed away. His family could not 
              afford the cremation expenses, and Roshan, moved by their plight, donated all the money he had earned from the contract to cover the costs. This act of kindness marked the beginning of Roshan's lifelong dedication to helping others.
              
              Our Mission
              At DonateInFaith, our mission is to extend a helping hand to those in need, regardless of their background or circumstances. We are committed to improving lives through education, healthcare, and community support. Our goal is to create lasting change by addressing the root causes of poverty and providing sustainable solutions.
              
              
             </div>
          </div>
        </div>
        {{ end }}
        <div class="col-12">
          <div class="text-justify">
            <span class="font-weight-light text-dark">
              Our Work
              Over the years, Roshan's philanthropic journey has expanded significantly. After moving to Sweden over three decades ago, he continued his charitable work with renewed vigor. Some of our key initiatives include:
              
              Education Support: Providing school supplies, shoes, and food to children in underprivileged areas, such as the Weerawatta village school in the Mahiyanganaya district of Sri Lanka.
              Infrastructure Development: Improving infrastructure in underdeveloped villages to enhance living conditions and create opportunities for growth.
              Special Needs Assistance: Supporting individuals with special needs to ensure they receive the care and resources they require.
              Healthcare Aid: Offering support to cancer patients and others suffering from serious illnesses.
              Veteran Support: Assisting war veterans who have been disabled by Sri Lanka's civil war, helping them rebuild their lives.
              Employment Initiatives: Strengthening self-employment projects and providing job opportunities for Sri Lankans seeking employment in Sweden.
              Our Commitment
              All our charitable acts are funded solely by Roshan Fernando’s personal donations. His unwavering commitment to philanthropy ensures that DonateInFaith operates with the highest standards of integrity and transparency.
              
              Looking Forward
              As we continue to grow, we plan to expand our reach and impact even further. We are dedicated to finding new and innovative ways to support those in need and make a meaningful difference in their lives.
              
              Thank you for visiting DonateInFaith. We invite you to join us on this journey of compassion and generosity. Together, we can create a brighter future for all.</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}